{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Вашата тренирожъчна програма</title>
<script src="{% static 'Quiz/dropdown.js' %}"></script>
<link rel="stylesheet" href="{% static 'Quiz/results.css' %}">
<link rel="stylesheet" href="{% static 'basicFiles/basic.css' %}">
{% endblock head %}

{% block main %}

{% if current_workout %}
<div class="workout">
    <div class="tableHeading">Тренировъчна Програма</div>
    <table>
        {% for key, value in current_workout.items %}
            <tr><td>{{ key }}:</td><td>{{ value }}</td></tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <p>No workouts available or index out of range.</p>
{% endif %}

{% if diet_tips %}
{% endif %}
{% endblock main %}